body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

/* Header */
header {
    background: #1a1a1a;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.subtitle {
    opacity: 0.8;
}

/* Navigation */
nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 40px;
    margin: auto;
    max-width: 900px;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

/* Features Grid */
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature-card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    text-align: center;
}

/* UML Gallery */
.uml-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.uml-gallery img {
    width: 45%;
    border: 1px solid #333;
}

/* Footer */
footer {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}
